* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px; 
  width: 100%;
  height: 100%;
  }

  .form-register {
    width: 400px;
    margin-top: -10%;
    background-color: #131313d8;
    background-size: 20px 20px; 
    padding: 30px;
    margin: auto;
    
    border-radius: 4px;
    font-family: 'calibri';
    color: #fff958;
    box-shadow: 7px 13px 37px #000;
    text-align: center;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background:rgb(83, 83, 88);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid  white;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

.titlewhite{
    color: white;
  }

  .controls:hover {
      border-color: #ebe52a;
  }
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: #edf421 ;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: #edf421;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #edf421;
    border: none;
    padding: 12px;
    color: #24303c;
    margin: 16px 0;
    font-size: 16px;
  }
  .btnn{
    width: 240px;
    height: 40px;
    background: #ebe52a;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: 0.4s ease;
}
.btnn:hover{
  
  color: #000000;
  font-weight: bold;
}
.btnn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}